<!-- views/partials/header.ejs -->

<nav style="background:#fcffd5"  class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-confir"></span>
                  〜(￣▽￣〜)(〜￣▽￣)〜 tinyAPP URL Shortner
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/urls">Home</a></li>
            <li><a href="/urls/new">SnipSnip</a></li>
        </ul>

    </div>
</nav>


<!--
#ffd5f7 green#d5ffdd blue#d5f7ff grren#ffddd5 -->