<!DOCTYPE html>
<html lang="en">
<head>
  <%include ./partials/head.ejs%>
</head>
<body class="container">
  <header>
  <%include ./partials/headers.ejs%>
  </header>
  <main>
    <div style="background:#d5ffdd" class="jumbotron"><h1>
    <strong>ᕙ(⇀‸↼‶)ᕗ Choppin Them URLs Like Karate</strong></h1>

      <form method="POST" style="margin:150px;" action=<%= '/urls/' + shortURL + '/update'%>>
      <b>
      <button style="background:#ffd5f7" class="button" style="vertical-align: middle"><span>Update</span></button>
        <label for="longURL">Insert URL:</label>
        <b>
        <input class="searchBar" id="longURL" type="text" name="longURL" placeholder="https://" style="width: 300px">
      </form>
        <h4><a><a href = "http://localhost:8080/urls/new"> 💇trim splitends💇</a></h4>
    </div>
  </main>

  <footer>
  </footer>
</body>