<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/headers %>
</head>
<body>

  <table style="width:50%">
    <tr>
      <th>URL</th>
      <th>TinyURL</th>
    </tr>
    <tr>
      <td> <


            <%=targetURL%>


       <</td>
        <td> <a> <a href = "www.deadlink.com">shortenURL</a> </td>
    </tr>





</body>
</html>